<!-- <a style="margin-right: 5px;color: black;  text-decoration: none;" routerLink='/add' > add</a>
<a style="margin-right: 5px;color: black; text-decoration: none;" routerLink='/edit' > edit </a>
<a style="margin-right: 5px;color: black; text-decoration: none;"  routerLink='/details'> detailss</a>
<a style="margin-right: 5px;color: black; text-decoration: none;"  routerLink='/users'> users</a>
<a style="margin-right: 5px;color: black; text-decoration: none;"  routerLink='/reactiveform'> reactiveform</a> -->
<!-- <a style="margin-right: 5px;color: black; text-decoration: none;"  routerLink='/register'> register</a>
<a style="margin-right: 5px;color: black; text-decoration: none;"  routerLink='/login'> login</a> -->
<!-- <a style="margin-right: 20px;color: black; text-decoration: none;"  routerLink='/weather'> weather</a> -->
