<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" class="mx-1 mx-md-4">

    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label style="display: block;" class="form-label">FirstName</label>
            <input class="form-control" formControlName="FirstName" />
            <!-- <span asp-validation-for="FirstName"></span> -->
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label style="display: block;"  class="form-label" >LastName</label>
            <input  class="form-control" formControlName="LastName" />
            <!-- <span asp-validation-for="LastName"></span> -->
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label style="display: block;" class="form-label" >UserName</label>
            <input  class="form-control" formControlName="UserName"/>
            <!-- <span asp-validation-for="UserName"></span> -->
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label style="display: block;" class="form-label" >Password</label>
            <input type="password"  class="form-control" formControlName="Password"/>
            <!-- <span asp-validation-for="Password"></span> -->
        </div>
    </div>


    <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
            <label style="display: block;" class="form-label" >Confirm</label>
            <input  type="password" class="form-control" formControlName="Confirm" />
            <!-- <span asp-validation-for="Confirm"></span> -->
        </div>
    </div>

    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg">Register</button>
        <button routerLink='/login' class="btn btn-primary btn-lg">Already Registered</button>
    </div>

</form>
